@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: local('Avenir'), url('/assets/fonts/avenir_roman_12.woff') format('woff');
}
.bg-washed-blue {
  background-color: #DDEAF6;
}
.washed-blue {
  color: #DDEAF6;
}
.bg-dark-blue {
  background-color: #2B68A1;
}
.dark-blue {
  color: #2B68A1;
}
.bg-light-blue {
  background-color: #B4C9E2;
}
.light-blue {
  color: #B4C9E2;
}
.sidebar img {
  max-height: 700px;
}
.w-120 {
  width: 120%;
  max-width: none;
}
.flip-h {
  transform: scale(-1, 1);
}

.circle-big {
  border-radius: 100%;
  width: 110%;
  padding-top: 110%;
  left: -10%;
  top: 0%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.maxh4 {
  max-height: 8rem;
}