.bg-washed-blue {
  background-color: #DDEAF6;
}
.washed-blue {
  color: #DDEAF6;
}
.bg-dark-blue {
  background-color: #3582CA;
}
.dark-blue {
  color: #3582CA;
}
.bg-light-blue {
  background-color: #B4C9E2;
}
.light-blue {
  color: #B4C9E2;
}
.sidebar img {
  max-height: 700px;
}

.flip-h {
  transform: scale(-1, 1);
}

.circle-big {
  border-radius: 100%;
  width: 110%;
  padding-top: 110%;
  left: -10%;
  top: 0%;
}